body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* =================== reset =================== */
.list {
  list-style: none;
}

.link {
  text-decoration: none;

  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}
/* =================== /reset =================== */

/* =================== style reference =================== */
nav li > a {
  padding: 2px 15px;
  border: 2px solid #fff;
}

@media screen and (max-width: 767.98px) {
  nav li > a {
    padding: 1px 10px;
  }
}

nav li > a.active {
  border: 2px solid #4056b4;
  border-radius: 24px;
}

@media screen and (max-width: 1023.98px) {
  nav li > a {
    border-radius: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  nav li > a {
    border-radius: 16px;
  }
}

a.content:visited {
  color: #899df2;
}

a.content:visited:hover {
  color: #ff6b0a;
}

nav li > a.active:hover {
  border: 2px solid #ff6b0a;
}
/* =================== /style reference =================== */
